#thicc_container{
    padding-left: 10%;
    padding-right: 10%;
    font-family: sans-serif;
}

#thicc_containter{
    text-align: center;
}

#header{
    height: fit-content;
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 15px;
}

#your_feed{
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    
}

#content_container{
    font-family: sans-serif;
    display: flex;
    
    
}


.post_box{
    border: 3px solid black;
    padding: 20px;
    margin: 10px;
    
}

.like_counter, .like_text{
    display: inline-block;
}

.name{
    margin-right: 80px;
}
.name, .like_container, .like_button{
    display: inline-block;
    padding: 10px;
    margin-top: -20px;
}

.like_button{
    background-color: yellow;
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px; 
    font-size: 20px;
    border: 3px solid black;
    box-shadow:3px  3px black;
    margin:auto;
}

#right_side, #left_side{
    display: inline-block;
    
}

#left_side{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 20%;
    
}

#left_side img{
    height: 200px;
    width: 200px;
    border-radius: 50%
}

#right_side{
    width: 80%;
    margin-top: -10px;
}

