<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% for person in logged_user %}
            {{ person.first_name }} {{ person.last_name }}
            {% endfor %}'s Dashboard</title>
</head>
<body>
    <div id="heading" style="display: flex; justify-content: space-between;">
        <h1>Welcome {% for person in logged_user %}
                {{ person.first_name }} {{ person.last_name }}
                {% endfor %}
        </h1>
        <div>
            <a href="/dashboard">Dashboard |</a>
            <a href="/new_magazine">Add Magazine |</a>
            {% for person in logged_user %}
            <a href="/edit_account/{{person.id}}">Account </a>
            {% endfor %}
            <form action="/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
    </div>
    <h2>Magazines</h2>
    <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
        {% for magazine in all_magazines %}
        <a href="/magazine/show/{{magazine['id']}}"> {{magazine['title']}}</a>
        {% endfor %}
    </div>
</body>
</html>