<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/style.css') }}">
    <title>Checkerboard</title>
    <style> 
    .color_1 {
    background-color: {{ color_1 }}; 
    }
    .color_2 {
    background-color: {{ color_2 }}; 
    }
    
    </style>
</head>
<body>
    <h1 class="flex" style="background-color:{{ color_1 }}; color: {{ color_2 }}">***Checkerboard***</h1>
    <table class="flex">
    {% for i in range(y_size): %}
        <tr>
            {% for j in range (x_size): %}
            <td class="color_{{ (i+j)%2+1 }}"></td>
            {% endfor %}
        </tr>
    {% endfor%}
    </table>


    
</body>
</html>