<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <h1>Hello User</h1>
        <a href="/new_recipe">Create</a>
    </div>
        
     <!--dynamic header and title  -->
    <table>
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Less than 30 min?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for food in all_recipes %}
            <tr>
                <td>{{ food["name"] }}</td>
                <td>{{ food["time"] }}</td>
                <td>
                    <a href="/recipe/show/{{ food['id'] }}">Show | </a><a href="/recipe/edit/{{ food['id'] }}">Edit | </a><a href="/recipe/delete/{{ food['id'] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>